body {
    background-color: rgb(230, 230, 230);
    font-family: Sarpanch, Bagadek, Kazmann Sans, Verdana, sans-serif;
}

#full_overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.mild_shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#main_title {
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;

    margin: 0;
    background-color: white;
}

#splash_text {
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-align: center;

    margin: 0;
    background-color: white;
    margin-bottom: 10px;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 50px;
    top: 0;
    left: 0;

    background-color: rgb(12, 0, 255);
    /* padding: 10px; */
}

nav h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-align: center;

    margin: 0;
    padding: 0;
}

nav h2 a {
    text-decoration: none;
    color: white;
}

/* note that i'm not adding more properties to the nav element itself i'm adding them to its children */

nav .section {
    background-color: rgb(12, 0, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

/* future me fix this causing navbar problems because i'm converting the p's into a ul for the navbar ^^^^ */

.link {
    cursor: pointer;
}

.navbar_item {

    border-radius: 10px;

    display: block;

    margin: 0 10px;
    padding-top: .2em;
    padding-bottom: .2em;

    padding-left: 1em;
    padding-right: 1em;

    text-align: center;
    vertical-align: center;

    color: white;
    font-size: 1.1em;
    font-weight: 500;
    transition: padding-bottom 1s, padding-top 1s,padding-left 1s, padding-right 1s, background-color .7s, box-shadow .5s;
}

.navbar_item a {
    text-decoration: none;
    color: white;
    display: block;
}

.navbar_item:hover {
    /* background-color: rgb(255, 169, 83); */
    padding-top: .4em;
    padding-bottom: .4em;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

/* so proud of this transition */

#navbar_logo {
    display: flex;
    width: 40px;
    height: 40px;
    max-height: fit-content;
    max-width: fit-content;
    /* background-color: white; */
    border-radius: 1px;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
    /* border-width: 5px;
    border-color: red;
    border-style: solid; */
}

a #navbar_logo {
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    margin: 0px auto;
    margin-top: 60px;
}

.section_div {
    display: flex;
    flex-direction: column;
    align-items: left;

    width: 1024px;
    height: 100%;

    padding: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 10px;
}

.section_div ul {
    list-style-type: square;
}

.section_gallery {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10pxs;
    width: 95%;
    flex-wrap: wrap;
}

.section_gallery_item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    object-fit: scale-down;
    padding: 10px;
}

.section_gallery_item p {
    background-color: rgb(255, 255, 255);
}

.section_gallery img {
    display: inline-block;
    max-width: 100%;
    object-fit: scale-down;
    width: 100%;
    border-radius: 10px;
}

.section_gallery_caption {
    font-size: 30px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    text-align: center;

    align-self: center;
    justify-self: center;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10px;
}

.section_gallery_caption b {
    font-size: 40px;
}

.section_gallery_writing_piece {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    bottom: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.section_subdiv {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    bottom: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.section_div_line {
    display: flex;
    align-content: center;
    align-self: center;
    width: 95%;
    height: 3px;
    background-color: rgb(12, 0, 255);
}

.section_div p {
    font-size: 15px;

    margin: 0;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.section_div h1 {
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;

    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10px;
}