body {
    background-color: rgb(0, 0, 0);
}

#status {
    font-family: Comic Sans MS, Papyrus, Hobo, Scriptina, Times New Roman, Arial, Bradley Hand, Copperplate Gothic, Trajan, Courier, sans-serif;
    text-align: center;
    color: white;
    font-size: 20vmin;
}